In [ ]:
import pandas as pd #for computation -- library used for these reason
import numpy as np #data manipulation
import matplotlib.pyplot as plt #data visualization

%matplotlib inline 
#magic function

import chart_studio.plotly as py
import plotly.graph_objs as go
from plotly.offline import plot

#for offline plotting

from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected=True)

In [9]:
#with panda library we are going to read the data witn the "read" function
apple = pd.read_csv('C:/Users/pietr/Desktop/pv/MY OWN BUSINESS/Operazione Tocco/AAPL.csv')
apple.head() #with this function the top rows of the file are displayed

,Date,Open,High,Low,Close,Adj Close,Volume
0,2011-02-11,12.669643,12.778571,12.626429,12.744643,10.912909,367572800
1,2011-02-14,12.742500,12.838571,12.739643,12.827857,10.984161,310416400
2,2011-02-15,12.828214,12.856071,12.769643,12.853571,11.006181,284174800
3,2011-02-16,12.885714,13.032143,12.875000,12.968929,11.104959,481157600
4,2011-02-17,12.758929,12.866786,12.732857,12.796429,10.957253,530583200

In [10]:
apple.info() #total number of rows, columns, data typ, check if there are null values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2770 entries, 0 to 2769
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       2770 non-null   object
 1   Open       2770 non-null   float64
 2   High       2770 non-null   float64
 3   Low        2770 non-null   float64
 4   Close      2770 non-null   float64
 5   Adj Close  2770 non-null   float64
 6   Volume     2770 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 151.6+ KB

In [ ]:
apple['Date'] = pd.to_datetime(apple['Date'])